@using FinalProjectMVC.ViewModels.Account
@model LoginVM

<div class="container mt-5">
    <h1 class="text-center">Login</h1>
    <div class="register-area">

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="card-body">
                <div asp-validation-summary="All" class="alert alert-danger" role="alert"></div>
            </div>
        }

        <form asp-controller="Account" asp-action="Login" method="post" class="register-form">

            <label>
                <p class="label-txt">ENTER YOUR EMAIL OR USERNAME</p>
                <input asp-for="@Model.UsernameOrEmail" type="text" class="input">
                <div class="line-box">
                    <div class="line"></div>
                </div>
                <span asp-validation-for="@Model.UsernameOrEmail" style="text-align:left !important; display:block" class="text-danger"></span>
            </label>

            <label>
                <p class="label-txt">ENTER YOUR PASSWORD</p>
                <input asp-for="@Model.Password" class="input">
                <i class="fa-solid fa-eye register-password-eye" style="cursor: pointer; margin-left:90%"></i>
                <i class="fa-solid fa-eye-slash d-none register-password-eye-blind"></i>


                <div class="line-box">
                    <div class="line"></div>
                </div>
                <span asp-validation-for="@Model.Password" style="text-align:left !important; display:block" class="text-danger"></span>
            </label>

           

            <a asp-controller="Account" asp-action="Register" class="mx-2">Register</a>

            <button type="submit">Login</button>
        </form>
    </div>
</div>